{% extends 'portal.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-md-12 contact-top">
            <h3>Write me please!!!</h3>
            {% if(formSend == true) %}
                <div class="alert alert-success" role="alert">
                    <strong>SEND SEND SEND</strong>
                </div>
            {% else %}
                {{ form(formFeedback) }}
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
